{% extends 'base.html.twig' %}

{% block title %}Entrar{% endblock %}

{% block body %}
<div class="row">
    <h1>Login</h1>
    {% if error %}
        <div>{{ error.messagekey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="_target_path" value="/product" />

        <label for="username" class="form-label">Email</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ lastUsername }}" />

        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" name="_password" />

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
{% endblock %}
